:root{
    --dark-blue: rgb(64, 85, 99);
    --red: rgb(255, 99, 71);
    --light-red: #ff8c7f;
    --light-blue: slategray;
    --lighter-blue: #a6bdd4;
    --purple: #664F6C;
    --light-purple: #A391B9;
    --cream: rgb(248, 243, 237);
    --light-cream: rgb(248, 244, 244);
    --dark-gray: #2c2929;
    --strong-blue: rgb(46, 102, 187);
    --strong-purple: rgb(122, 76, 190);
    --light-gray: #82868a;
}
main{
    padding: max(2rem, 1vw);
}

footer *{
    text-decoration: none!important;

}

#footer-hover-row{
    transition: all 0.3s ease-in-out;
}

#footer-arrow{
    transition: transform 0.2s ease-in-out;
    transition: opacity 0.3s;
}

header{
    padding-bottom:max(4%, 6vh);
}

.icon-dark-blue{
    color: var(--dark-blue);
}

.icon-hover-dark-blue{
    cursor: pointer;
    transition: color 0.3s cubic-bezier(.41,1.29,.64,1);
}

.icon-hover-dark-blue:hover{
    color: var(--light-blue);
}

.icon-red{
    color: var(--red);
}

.icon-light-gray{
    color: var(--light-gray);
}

.icon-light-red{
    color: var(--light-red);
}

.icon-light-blue{
    color: var(--light-blue);
}

.icon-lighter-blue{
    color: var(--lighter-blue);
}

.icon-purple{
    color: var(--purple);
}

.icon-light-purple{
    color: var(--light-purple);
}

.icon-dark-gray{
    color: var(--dark-gray);
}

.icon-strong-blue{
    color: var(--strong-blue);
}

.icon-strong-purple{
    color: var(--strong-purple);
}

.bg-d-blue{
    background-color: var(--dark-blue)!important;
    color: var(--cream)!important;
}

.bg-red{
    background-color: var(--red)!important;
    color: var(--cream)!important;
}

.bg-l-red{
    background-color: var(--light-red);
}

.bg-l-blue{
    background-color: var(--light-blue)!important;
}

.bg-lr-blue{
    background-color: var(--lighter-blue);
}

.bg-purple{
    background-color: var(--purple);
    color: var(--cream);
}

.bg-l-purple{
    background-color: var(--light-purple)!important;
}

.bg-strong-purple{
    background-color: var(--strong-purple)!important;
}

.bg-cream{
    background-color: var(--cream)!important;
}

.bg-l-cream{
    background-color: var(--light-cream)!important;
}

.bg-d-gray{
    background-color: var(--dark-gray)!important;
    color: var(--cream)!important;
}

.bg-d-gray a{
    color: var(--cream)!important;
    transition: all 0.2s ease-in-out;
}

.bg-d-gray a:hover{
    color: var(--lighter-blue)!important;
}

.balloon-tooltip{
    --balloon-font-size: 1rem;
    --balloon-color: var(--light-blue);
}

.balloon-tooltip-danger{
    --balloon-color: var(--red);
    --balloon-font-size: 1rem;
}

@media screen and (max-width: 992px){
.display-mobile{
    display: flex!important;
}
.display-desktop{
    display: none!important;
}
}

@media screen and (min-width: 992px){
.display-mobile{
    display: none!important;
}
.display-desktop{
    display: flex!important;
}
}

.custom-badge{
    --bs-badge-padding-x: 0.65em;
    --bs-badge-padding-y: 0.35em;
    --bs-badge-font-size: 0.75em;
    --bs-badge-font-weight: 700;
    --bs-badge-color: #fff;
    --bs-badge-border-radius: var(--bs-border-radius);
    display: inline-block;
    padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x);
    font-size: 90%;
    font-weight: var(--bs-badge-font-weight);
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: var(--bs-badge-border-radius);
}

.carousel-inner-home{
    background-color: rgba(64, 85, 99, 0.8);
    right: 0!important;
    bottom: 0!important;
    left: 0!important;
    padding-bottom: 2.25rem!important;
    text-align: center;
}

.slide .carousel-inner{
    border-radius:8px!important;
}

.no-dec *{
    text-decoration: none!important;
}

.button-bg-red, .button-bg-d-blue{
    border:none!important;
}



.button-bg-red:hover{
    background-color: var(--light-red)!important;
}

.button-bg-d-blue:hover{
    background-color: var(--light-blue)!important;
}

.header-scroll{
    border-radius: 0!important;
    height:6px!important;
}

.header-scroll .progress-bar{
    background-color: var(--light-purple)!important;
}

.hover-cream{
    transition: all 0.3s cubic-bezier(.41,1.29,.64,1);
}

.hover-cream:hover{
    background-color: var(--light-cream)!important;
}