.tag-badge{
    text-decoration: none;
    background-color: var(--lighter-blue);
    color: var(--dark-gray);
    margin-left: 4px;
    margin-right: 4px;
    transition: all 0.3s cubic-bezier(.41,1.29,.64,1);
}

.tag-badge:hover{
    background-color: var(--light-blue);
    color: var(--cream);
}

.tag-badge-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
}

.tag-badge-container > *:first-child{
     margin-left: 0;
}

.tag-badge-container > *:last-child{
    margin-right: 0;
}

.badges-mobile .col-sm-4{
    width:33%;
}

.badges-mobile{
    margin-bottom:.5rem;

}

.recipe-row-link div{
    border-radius: 4px;
    transition: background-color 0.3s;
}

.recipe-row-link{
    text-decoration: none;
    color: var(--dark-gray);
}

.recipe-row-link div:hover{
    background-color: var(--light-cream);
    
}

.list-group-hover:hover{
    transition: background-color 0.3s;
    background-color: var(--bs-list-group-action-hover-bg);
}

.gray-comment, .gray-comment *{
    color: var(--light-gray);

}

.deleted-comment, .deleted-comment *{
    text-decoration: line-through!important;
}

.share-bar-icon{
    background-color: var(--lighter-blue);
    color: var(--dark-blue);
    transition: all 0.3s cubic-bezier(.41,1.29,.64,1);
}

.share-bar-icon:hover{
    background-color: var(--light-blue);
    color: var(--cream);
}

@media screen and (max-width: 1200px){
    .shareBar{
        position: fixed;
        bottom:3rem;
        left:.5rem;
        z-index:9999;

    }
}

.print-only{
    display: none;
}

@media print{
    .print-only{
        display: block;
    }
}
